

body {
    background-color: rgb(0, 243, 200);
  }
  
#container{
  width: 100%;
  margin-top: 100px;

}



h4{
    display: flex;
    justify-content: center;
    text-align: center;
    color: #fff;
    font-size: 1em;
    letter-spacing: 8px;
    font-family: 'Archivo Black', sans-serif;
    font-weight: 1000;
    /*Create overlap*/
    margin: 0;
    line-height: 0;
    /*Animation*/
    animation: glitch1 3s infinite;
}

  

  h1 {

    display: flex;
    justify-content: center;
    text-align: center;
    color: #fff;
    font-size: 5em;
    letter-spacing: 8px;
    font-family: 'Archivo Black', sans-serif;
    font-weight: 1000;
    /*Create overlap*/
    margin: 0;
    line-height: 0;
  }
 
 
  h2 {
    position: relative;
    color: #fff;
    font-size: 5em;
    letter-spacing: 8px;
    font-family: 'Archivo Black', sans-serif;
    font-weight: 1000;
    /*Create overlap*/
    line-height: 0;
    margin: 0;
  }
  
  
  h3 {
    display: flex;
    justify-content: center;
    color: #fff;
    font-size: 5em;
    letter-spacing: 8px;
    font-family: 'Archivo Black', sans-serif;
    font-weight: 1000;
    /*Create overlap*/
    line-height: 0;
    margin: 0;
   
  }
  
  /*Keyframes*/
 
  h1,h2,h3,h4{
    animation: glitch 1s linear infinite;
  }
  
  
  @keyframes glitch{
    2%,3%{
      transform: translate(3px,0) skew(0deg);
    }
    10%,11%{
      color: rgb(243, 0, 200);

    }
    7%,8%{
      color: rgb(0, 200, 243);

    }
    
    62%{
      transform: translate(3px,0) skew(5deg); 
    }
  }
  
.noms{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    margin-top: 2%;
    font-size: 1em;
    letter-spacing: 8px;

}
.nom-joueur{
    background-color:blueviolet;
    border-radius: 100px;
    box-shadow: -10px 10px 5px blueviolet;
    width: 350px;
    height: 50px;
    border: #D31996 solid 3px;
    display: flex;
    justify-content: center ;

}
p{
    text-align: center;
    color: #fff;
    font-family: 'Archivo Black', sans-serif;
}
.nom-IA{
    background-color:blueviolet;
    border-radius: 100px;
    box-shadow: -10px 10px 5px blueviolet;
    width: 350px;
    height: 50px;
    border: #D31996 solid 3px;
    display: flex;
    justify-content: center ;

}
.round{
    display: flex;
    justify-content: center;
}
.vs{
    display: flex;
    justify-content: center;
}
.points{
    display: flex;
    flex-direction: row; 
    justify-content: space-around; 
    width: auto;
    height: auto;

}
.points-Joueur{
    padding: 1%;
    background-color:blueviolet;
    border-radius: 100px;
    box-shadow: -10px 10px 5px blueviolet;
    display: flex;
    flex-direction: row;   
    width: auto;
    height: auto;
    border: #D31996 solid 3px;

}
.points-IA{
    padding: 1%;
    background-color:blueviolet;
    border-radius: 100px;
    box-shadow: -10px 10px 5px blueviolet;
    display: flex;
    flex-direction: row;   
    width: auto;
    height: auto;
    border: #D31996 solid 3px;

}
.points-joueur-1{
    background:blueviolet;
    width: 50px;
    height: 50px;
    border-radius: 30%;
    border: #D31996 solid 3px;

}
.points-joueur-2{
    background:blueviolet;
    width: 50px;
    height: 50px;
    border-radius: 30%;
    border: #D31996 solid 3px;

}
.points-joueur-3{
    background:blueviolet;
    width: 50px;
    height: 50px;
    border-radius: 30%;
    border: #D31996 solid 3px;

}

.points-IA-1{
    background:blueviolet;
    width: 50px;
    height: 50px;
    border-radius: 30%;
    border: #D31996 solid 3px;

}
.points-IA-2{
    background:blueviolet;
    width: 50px;
    height: 50px;
    border-radius: 30%;
    border: #D31996 solid 3px;

}
.points-IA-3{
    background-color:blueviolet;
    
    width: 50px;
    height: 50px;
    border-radius: 30%;
    border: #D31996 solid 3px;

}
.choix{
    display: flex;
    justify-content: space-around;
    flex-direction: row;

}
.choix-utilisateur{
    margin-top: 50px;
    background-color:blueviolet;
    box-shadow: #D31996;
    border-radius: 100px;
    box-shadow: -10px 10px 5px blueviolet;    
    width: 30%;
    height: 50%;  
    border: #D31996 solid 3px;

}
.choix-IA{
    background-color:blueviolet;
    margin-top: 50px;
    border-radius: 100px;
    box-shadow: -10px 10px 5px blueviolet;
    width: 30%;
    height: 50%;
    border: #D31996 solid 3px;
}
.choix-possible{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    margin-top: 2%;

}
.choix-1{
    background-color:blueviolet;
    
    border-radius: 100px;
    box-shadow: -10px 10px 5px blueviolet;
    box-shadow: #D31996;
    box-shadow: -10px 5px 5px blueviolet;   
    width: 30%;
    height: 50%;
    border: #D31996 solid 3px;
}
.choix-2{
    background-color:blueviolet;
    border-radius: 100px;
    box-shadow: -10px 10px 5px blueviolet;
    width: 30%;
    height: 50%;
    border: #D31996 solid 3px;
}
.choix-3{
    background-color:blueviolet;
    border-radius: 100px;
    box-shadow: -10px 10px 5px blueviolet;
    width: 30%;
    height: 50%;
    border: #D31996 solid 3px;
}
img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 50%;
    width: 30%;
}
